html {
  color: #191919;
}

.div1 {
  height: inherit;
  margin: 40px;
  border: 3px solid #191919;
  border-radius: 50px;
}



.heading {
  position: absolute;
  font-family: 'Caveat', cursive;
  background-color: white;
  margin-left: 100px;
  top: 12px;
  color: #191919;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading p {
  font-size: 2.3rem;
  padding-right: 10px;
  padding-left: 5px;
}

.div1 p {
  font-family: 'Caveat', cursive;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
  font-size: 1.9rem;
  color: #706C61;
}

.top-para {
  padding-top: 70px;
}

#last-para {
  padding-bottom: 50px;
}

.div1 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.btn{
  float: right;
  padding: 10px;
  margin-right: 20px;
  margin-top: 30px;
  background-color: #191919;
}
