html, head, body {
  font-family: 'Caveat', cursive;
}

h1 {
  font-size: 6.5em;
  color: grey;
}

.carousel-para {
  font-size: 2.6rem;
}

hr {
height: 2px;
border-style: solid;
border-color: black;
width: 100%;
margin: 0px;
}

/* body {
 background-image: url("https://images.unsplash.com/photo-1527492662722-dbaf97270863?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
 background-color: #cccccc;
 height: 500px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
} */

#top-container {
  padding: 0px 50px 0px 50px;
  background-image: linear-gradient(45deg, black, #393E44);
  /* background: url("https://c.wallhere.com/photos/dd/67/artwork_forest_sunset_mountains_trees-1752343.jpg!d"); */

  color: white;
  }

/* body {
  background-color: #cccccc;
  background-image: linear-gradient(45deg, #BAFFB4, #FFFDA2);
} */

#navbar {
    background-color: #BF9270;
    padding: 0px 50px 0px 50px;
    text-align: center;
    font-weight: bold;
}

.content {
  text-align: center;
}

.content p {
  font-size: 1.5rem;
}

.container-fluid2 {
  margin-top: 0px;
  padding: 50px;
}


.head-pic {
  padding: 0px auto 0px;
  width: 100%;
  /* border-style: ridge;
  border-color: #FFFDA2; */
}

.intro-col {
    text-align: left;
}

.routes {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #886F6F;
    background-color: white;
    /* border-width: 2px;
    border-style: ridge;
    border-color: #FFFDA2; */
}

.route {
  padding-right: 50px;
  padding-left: 50px;
  text-decoration: none;
  font-weight: bold;
  color: #886F6F;
}


.route:hover {
  color: #470D21;
}

.router.pointer {
  cursor: pointer;
}


.container-fluid {
  padding: 50px;
}

.skill-row {
  width: 75%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.skill-image {
  width: 25%;
  float: left;
  margin-right: 30px;
  padding-bottom: 20px;
}

.skill-image2 {
  width: 25%;
  float: right;
  margin-left: 30px;
  padding-bottom: 20px;
}


.testimonial_img {
  width: 65%;
  /* border-radius: 50%; */
  margin: 20px;
}

.carousel-item {
  padding: 7% 14%;
}

.colored-section {
  text-align: center;
  background-image: linear-gradient(45deg, black, #393E46);
  color: white;
}

.button{
  float: right;
  margin-right: 157px;
}

/* .btn {
  background: #000305;
  background-image: -webkit-linear-gradient(top, #000305, #f3f5bc);
  background-image: -moz-linear-gradient(top, #000305, #f3f5bc);
  background-image: -ms-linear-gradient(top, #000305, #f3f5bc);
  background-image: -o-linear-gradient(top, #000305, #f3f5bc);
  background-image: linear-gradient(to bottom, #000305, #f3f5bc);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  text-shadow: 2px 2px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  border: solid #39454d 0.5px;
  text-decoration: none;
}

.btn:hover {
  background: #2e300e;
  background-image: -webkit-linear-gradient(top, #2e300e, #fafaf7);
  background-image: -moz-linear-gradient(top, #2e300e, #fafaf7);
  background-image: -ms-linear-gradient(top, #2e300e, #fafaf7);
  background-image: -o-linear-gradient(top, #2e300e, #fafaf7);
  background-image: linear-gradient(to bottom, #2e300e, #fafaf7);
  text-decoration: none;
} */
