body {
  background-image: linear-gradient(to top right, #FFE6BC, #E4CDA7);
  background-repeat: no-repeat;
}



img {
  width: 45%;
  border-radius: 30px;
  margin: 60px 100px 60px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
  width: 500px;
  margin-top: 60px;
  position: absolute;
  color: black;
  text-shadow: 2px 2px grey;
  margin-left: 720px;
  font-size: 2rem;
}